#contact h2{
    margin-left: 1rem;
    background: linear-gradient(black, rgb(128, 128, 128));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.contact-grid {
    margin: 0 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.contact-card {
    padding: 1.5rem;
    border-radius: 10px;
    text-decoration: none;
    color: inherit;
    background: #222;
    color: white;
    transition: all 0.2s ease;
}

.contact-card:hover {
    transform: translateY(-5px);
}